[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
bs4 = "*"
django-cors-headers = "*"
selenium = "*"
fpdf2 = "*"
pillow = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
black = "*"
yapf = "*"
ipykernel = "*"
mypy = "*"
pytest = "*"
pytest-django = "*"
django-stubs = "*"
djangorestframework-stubs = "*"

[requires]
python_version = "3.10"

[scripts]
server = 'bash -c "python MangaReader/manage.py runserver"'
